<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mageplaza_GiftCard::index" title="Gift Card" sortOrder="99">
                    <resource id="Mageplaza_GiftCard::gird" title="Gird" sortOrder="10"/>
                    <resource id="Mageplaza_GiftCard::configuration" title="Config" sortOrder="15"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
