<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Mageplaza_GiftCard" translate="label" sortOrder="10">
            <label>Mageplaza</label>
        </tab>
        <section id="gift_section_id" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Card</label>
            <tab>Mageplaza_GiftCard</tab>
            <resource>Mageplaza_GiftCard::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mageplaza_GiftCard Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="used" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow used Gift Card at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Redeem Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>              
            </group>
            <group id="code" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Code Configuration</label>
                <field id="length" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">  
                    <label>Code length</label>
                    <validate>validate-not-negative-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>