<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gift_section_id>
            <code>
                <length>12</length> 
            </code>
        </gift_section_id>
    </default>
</config>